@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Unused hex color #44b7e8; */

.container-choices{
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: white;
  color: #000000;
}

h1 {
  font-size: 40pt; 
}

h2 {
  font-size: 25pt; 
}

header {
  text-align: center;
}

.table-emoji {
  font-size: 40pt; 
}

table.center {
    table-layout: auto;
    width: 25%; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

.emoji {
  padding: 3rem;
  font-size: 10rem;
  transform: scale(0.8);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: text-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  border: 1mm solid black
}

.emoji:hover {
    cursor: pointer;
    transform: scale(1) translatey(-13px);
    text-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  }

.emoji--rock::before {
    content: '\270A';
  }
  
  .emoji--paper::before {
    content: '\270B';
  }
  
  .emoji--scissors::before {
    content: '\270C';
  }
